#d1{
	
	position: fixed;		
}

.i1{
		position: absolute;
	
 	width: 1500px;
	height:720px;

  }

#d2{
	position: fixed;
    top: 220px;
    left:70px ;
	width: 1350px;
	height: 900px;

}
.i2{
		position: absolute;
	
 	width: 1500px;
	height:720px;
	  top: 220px;
    left:70px ;

  }




