#d1{
	
	position: fixed;

			
}

.i1{
		position: absolute;
	
 	width: 1500px;
	height:720px;
	

  }
    #d2{
  	position: fixed;	
	
	width: 1500px;
	height: 690px;
    top: 220px;	
}
.i2{
		position: absolute;
	
 	width: 600px;
	height:300px;
	left: 200px
	

  }