<!DOCTYPE html>
<html>
<head>
	<title>LOGIN Page</title>
</head>
<body>
    <form method="post" action="../controller/LoginCheck.php"> 
		
        <table border="1" align="center" width="350px">

          <tr>
              <td><img src="../asset/logo.jfif" width="101px" height="101px"></td>
          </tr>

              <tr>
                  <td>
                      <legend><b>ADMIN LOGIN</b><hr/></legend>
          
                  <table>
                      <tr>
                          <td><b>Id:</b></td>
                          <td><input type="text" name="id" value=""></td>
                        </tr>
                      <tr>
                          <td><b>Password:</b></td>
                          <td><input type="password" name="password" value=""></td>
                      </tr>
                      
                      <tr>
                          <td colspan="2"><hr/></td>
                          
                      </tr>
                      <tr>
                          <td ><input type="submit" name="submit" value="Login"></td>
                          <td><a href="reg.html">Register</a></td>
                          
                      </tr>
                   </table>
                  </td>
              </tr>
          </table>

  </form>






