     <html>
                 <body bgcolor="aliceblue">
                 <form method="post" action="Forgot_Password.php">
                  <table align ="center"width="40%" height="40%"   border="1" >
                        <tr>
                         <td colspan="2" align="Center"  bgcolor="lightblue"><b><h3>Password Recovery</h3></b>
                         </td>
                
                        </tr>
                        <tr>
    <tr>
    <td bgcolor="cadetblue">Email:<input type="email" name="email" ></td></tr>
    
              
              
         </table></br>
         <center><input type="submit" name="submit"value="submit"/>|<a href="Loginform.html">Back</center>
               </body>
               <html>
     
    