<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS EXAMPLE</title>
    
</head>
<body bgcolor="SlateGray">

      <table align ="center"  border="1" >
                        <tr>

   
 <td colspan="5" align="Center" ><b><h1>Teachers Biography</h1></b>

    <input type="text" id="name" name="name" placeholder="Enter The Teachers Name" value="" onkeyup="ajax()" />
   
     </table>

    <div id="d2">
        
    </div>
     <center><a href="Home.php"><h3>Back</h3></a>
    <script type="text/javascript" src="script1.js"></script>
</body>
</html>