<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Student/FileCheck1.css">

</head>
<body >
	 <div id="d1">
        <img src="../../assets/Student/uni2.jpg" class="i1">
           
       </div>
       <div id="d2" >

	<form method="POST" action="fileCheck1.php" >
		<div id="d3">
                <img src="../../assets/Student/uni1.jpg" class="i3"></div>

		     <table align ="center" width="30%" height='30%' border="1" >
		     	<tr>
		     		<td  align ="center" ><h1> Upload Any Assignment</h1></td>
		     	</tr>
                <tr >
                    <td align="left" colspan="2" >

                                <input type="radio" name="usertype" value="Operating System"><b>Operating System</br>
                                <input type="radio" name="usertype" value="Web Technologies "><b>Web Technologies</br>
                                <input type="radio" name="usertype" value="Computer Vision"><b>Computer Vision</br>
                                <input type="radio" name="usertype" value="Advance Database Management"><b>Advance Database Management</br><br/></br> 
        	 
             </br>  <input type="file" name="name" value=""></br>
                
            </td></tr>
            </table>
	<center></br><input type="submit" name="submit" value="Submit">|<a href="Home.php">Back</a></center>
	</form>
</div>
</body>
</html>