<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Student/regfile.css">

</head>
 <body>
    
       <div id="d1">
        <img src="../../assets/Student/regfile1.jpg" class="i1">
           
       </div>
<div id="d2" class="i2">


            <form  method="post" action="../../controller/Student/regfilecheck.php">
               <div id="d3">
                 <img src="../../assets/Student/uni1.jpg" class="i3">
                   
               </div>
              
            
         
                
                 <center> <b> <h1><i><u>Registration Page</u></h1>
                
            
                
  Name:<input type="text" name="username"><center>-----------------------------------------------------</center></br>

  User ID:<input type="text" name="text"><center>-----------------------------------------------------</center></br>

  Email:<input type="email" name="email"><center>-----------------------------------------------------</center></br>

  Date Of Birth:<input type="date" name="date" value=""><center>-----------------------------------------------------</center></br>
      
 
       Gender:
        <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="Female">Female
        <input type="radio" name="gender" value="Other">Other<center>-----------------------------------------------------</center></br>


        Address:<input type="text" name="address" ><center><b>-----------------------------------------------------</b></center></br>


     Password:<input type="password" name="password"value=""></br></i><center><b>------------------------------------------------</b></center>



Profile picture:<input type="file" name="file" value=""><center><b>-----------------------------------------------------</center></br></b>
  User Type:
                                <input type="radio" name="usertype" value="Admin"><b>Admin</b>
                                <input type="radio" name="usertype" value="Teacher"><b>Teacher</b>
                                <input type="radio" name="usertype" value="Student"><b>Student</b>
                                <input type="radio" name="usertype" value="Parent"><b>Parent</b><br/>



       
</br><input type="submit" name="submit"value="submit"/>|<a href="Loginform.php">Login Here</a></center>



     </form>
      
           
        </body>
    </div>
  
</html>