  <html>
     <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Student/Show_Teachers_biography.css">

    </head>
    <body>

                  <div id="d1">
        <img src="../../assets/Student/uni2.jpg" class="i1">     
       </div>
       <div id="d2" >
                  <table align ="center"  border="1" >
                        <tr>
                         
                         <td colspan="5" align="Center" ><b><h1>Teachers Biography</h1></b>
                         </td>
                        
             
                        </tr>
                         <tr>  
                           <td width="50px"  > 
                       
                           <img src="Dr-Kamruddin-Nur_1611229383.jpg" height="90%" width="90%" > 
                            <h3> kamaruddin@aiub.edu </h3></td> 

                           <td width="50px"  >  
                       
                           <img src="dk_anu_pic_1606711626.jpg" height="100%" width="100%"> 
                           <h3> d.karmeker@aiub.edu</h3></td> 
                           <td width="50px"  >  
                       
                           <img src="ProfileImage_1574598702.jpg" height="100%" width="100%" > 
                           <h3> rezwan@aiub.edu</h3></td> 
                            <td width="50px"  >  
                       
                           <img src="Alamin.jpg" height="100%" width="100%"> 
                           <h3> Al Amin@aiub.edu</h3></td> 
                            <td width="50px">  
                       
                           <img src="123729314_370553854166896_8191383260491753733_n_1604514867.png" height="100%" width="100%" > 
                           <h3> mishu@aiub.edu</h3></td>
                           </tr>
                             <tr>   <td ><b>OPERATING SYSTEM </b></td> 
                                    <td ><b>COMPUTER VISION AND PATTERN RECOGNITION </b></td> 
                                    <td ><b>ADVANCE DATABASE MANAGEMENT SYSTEM</b> </td> 
                                    <td ><b>WEB TECHNOLOGIES</b> </td>                                 
                                    <td ><b>DATA WAREHOUSING AND DATA MINING</b> </td> 
                               

                         </tr> 

                         <tr>   <td >Dr Kamruddin Nur is currently serving as an Associate Professor in the Department of Computer Science at American International University Bangladesh  Before that he has served as the department chairman at Stamford University Bangladesh and Bangladesh University of Business and Technology Dr  Nur completed his PhD from UPF Barcelona Spain in Ubiquitous Computing Masters from UIU and Bachelor from Victoria University of Wellington New Zealand Dr  Nur authored many prestigious conferences and journal articles in IEEE and ACM</td> 

                        <td >I am working as an Assistant professor in the department of computer science at American International University-Bangladesh. I worked as Postdoctoral Research Fellow at Australian National University (ANU). Before joining ANU, I completed my Ph.D. from The University of Queensland (UQ). My research interests are in  Deep Learning, Computer Vision, & Machine Learning. I am particularly interested in the areas of image classification, object detection, segmentation, bio-inspired collision avoidance strategies, and Robust Decision-making and Learning</td> 
                                <td >'Rezwan Ahmed, is an Assistant Professor  in the department of Computer Science at American International University  -  Bangladesh (AIUB).  He joined the department as a Lecturer in year  2010. He received his MSc degree  from the  KTH, The Royal Institute of Technology in Software Engineering of Distributed System and received his BSc degree from the American International University-Bangladesh in Computer Science. In  his  teaching  Career.</td> 

                                <td >Md.Al-Amin currently working as a lecturer in the Computer Science Department, American International University-Bangladesh (AIUB).He is also supervising research & development teams & providing technical consultancy. He received his Bachelor's in Software Engineering and Master's degree in Computer Science and Engineering (CSE) from American International University-Bangladesh(AIUB), Dhaka, Bangladesh in 2015 and 2017 respectively</td> 
                                <td >I am an Assistant Professor & Head of Computer Science at American International University- Bangladesh (One of the top ranked private universities in Bangladesh). My role includes ensuring world class teaching environment for our learners and developing cutting edge course contents within the domain of computer science and engineering. I have several years of active teaching and research experience in the United Kingdom. Currently I taught Data warehousing and Data mining at under graduate and graduate level.</td> 

                         </tr> 
                   
                         
          
                     
                 </table>
                <center><a href="Home.php"><h3>Back</h3></a></center>
                

                </div>
                 </div>
             </body>
         </html>